body {
  padding: 1% 3%;
}
table {
  width: 50%;
}
form{
    width:100%;
}
tr td,tr th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  width: 20%;
}

@media screen and (max-width:1095px) and (min-width:995px){
     th{
      font-size:12px;
     }
}
